body{/* just the body of the page*/
    border:1px solid transparent;
    background-color:whitesmoke;
    margin:0px;
    height:99.7%;
}
/* everything inside the top bar section */
#topBar{/*container to hold all the top menu things*/
    border:1px solid black;
    height: 50px;
    position: relative;
    bottom:543px;
}
#title{/*title of page*/
    border:1px solid black;
    position:relative;
    width:200px;
    left:50px;
    bottom:20.75px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    background:white;
    box-shadow: 2px 2px 5px, -2px -2px 5px;
    opacity:.7;
}
#title:hover{/*title of page*/
    background:white;
    color:red;
}
#g-Mail{/*text for the title of the page*/
    border:1px solid transparent;
    position:relative;
    height:40px;
    width:143px;
    left:75px;
    top:5px;
}
#pic{/*picture next to title, it's the group GANGSTAR cuz they're Gs (geemail, get it?)*/
    border:1px solid transparent;
    width: 50px;
    position:relative;
    bottom:77px;
    right:5px;
}

#sBar{/*search bar top menu things*/
    border:1px solid transparent;
    width:340px;
    height:30px;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    bottom:30px;
}
#sBar input{/*search bar top menu things*/
    width:300px;
    height:25px;
}
#sBtn{/*search bar top menu things*/
    border:1px solid transparent;
    position: relative;
    left:280px;
    bottom:35px;
}
/* everything inside the top bar section */


/* has no real function but i'm keeping it because it will resize my page.
i was going to use it to hold the main mailbox, but i ended up not needing it.*/
#mainMail{
    border:1px solid transparent;
    position: relative;
    width: 1025px;
    margin-left:189px;
    height: 80%;
    left:0px;
    top:-80.5%;
}
/* .Mail{
    border:1px solid white;
    position: relative;
    width: 800px;
    height: 84%;
    z-index: 2;
    left:10px;
    top: 10px;
} */


/* right side bar things */
#rightBar{/* has no real function but i'm keeping it because it will resize my page */
    border:1px solid transparent;
    position:relative;
    bottom:265%;
    width: 60px;
    height:92%;
    margin-left:auto;
}
.rBar{/*container to hold all my information */
    border:1px solid black;
    position:relative;
    width: 60px;
    height:100%;
    margin-left:auto;
    box-shadow:-1px 0px;
}
/* right side bar things */

/* left side bar things */
#leftBar{/* has no real function but i'm keeping it because it will resize my page */
    border:1px solid transparent;
    position:relative;
    width:188px;
    bottom:172.7%;
    margin-right:auto;
    height:91.9%;
}
.lBar{/* container to put all my information in for left bar*/
    border:1px solid transparent;
    position:relative;
    width:189px;
    right:.5px;
    height:50%;
    bottom:1px;
    overflow-y:auto;
    resize:vertical;
}
/*content for lbar cat 1*/
.inboxlb{        
    position: relative;
    top:1px;
    border:.5px solid black;
    border-radius:0px 30px 30px 0px;
    width:170px;
    padding: 2px 2px 2px 2px;
    text-align:center;
}
.inboxlb:hover{
    background:	#e0e0eb;
}
.starlb{        
    position: relative;
    top:1px;
    border:.5px solid black;
    border-radius:0px 30px 30px 0px;
    width:170px;
    padding: 2px 2px 2px 2px;
    text-align:center;
}
.snoozelb{        
    position: relative;
    top:1px;
    border:.5px solid black;
    border-radius:0px 30px 30px 0px;
    width:170px;
    padding: 2px 2px 2px 2px;
    text-align:center;
}
.snoozelb:hover{
    background:	#e0e0eb;
}
.implb{        
    position: relative;
    top:1px;
    border:.5px solid black;
    border-radius:0px 30px 30px 0px;
    width:170px;
    padding: 2px 2px 2px 2px;
    text-align:center;
}
.imp:hover{
    background:	#e0e0eb;
}
.sentlb{        
    position: relative;
    top:1px;
    border:.5px solid black;
    border-radius:0px 30px 30px 0px;
    width:170px;
    padding: 2px 2px 2px 2px;
    text-align:center; 
}
.sentlb:hover{
    background:	#e0e0eb;
}
.draftlb{    
    position: relative;
    top:1px;
    border:.5px solid black;
    border-radius:0px 30px 30px 0px;
    width:170px;
    padding: 2px 2px 2px 2px;
    text-align:center;
}
.draftlb:hover{
      background:#e0e0eb;
}
.catlb{        
    position: relative;
    top:1px;
    border:.5px solid black;
    border-radius:0px 30px 30px 0px;
    width:170px;
    padding: 2px 2px 2px 2px;
    text-align:center;
}
.catlb:hover{
    background:	#e0e0eb;
}
.perslb{        
    position: relative;
    top:1px;
    border:.5px solid black;
    border-radius:0px 30px 30px 0px;
    width:170px;
    padding: 2px 2px 2px 2px;
    text-align:center;

}
.perslb:hover{
    background:	#e0e0eb;
}
.list1{/* random list to give content to page */
    color:black;
    text-align:center;
    border-radius:0px 0px 0px 0px;
    border:.5px solid transparent;
    list-style-type:none;
}

.list2{
    position: relative;
    border:.5px solid black;
    border-radius:0px 30px 30px 0px;
    width:170px;
    padding: 2px 2px 2px 2px;
    text-align:center;

}
.list2:hover{
    background:	#e0e0eb;
}
/* left side bar things */

/* category menu above the main mail box used to switch between different inboxes*/
#catMenu{/* just a box really*/ 
    border:1px solid black;
    margin-left:189.2px;
    position:relative;
    top:-84.4%;
    height:50px;
    width:1025px;
    z-index: 3;
    border-radius: 0px 0px 0px 0px;
}
.category{/* container to hold things */
    top:2px;
    border:1px solid orange;
    right:.2px;
    position:relative;
    top:4px;
    border-radius: 5px 5px 5px 5px;
    height:40px;
    width:800px;
    margin-left:auto;
    margin-right:auto;
}
/* category menu above the main mail box used to switch between different inboxes */

/* main mail box holds all information */
#main{
    height:84%;
    overflow-y:auto;
    font-size:13px;
    width:1027px;
    position: relative;
    z-index:4;
    top:100px;
    margin-left:189px;
}

.content{/* container to hold all the information given below */
    border:.3px solid black;
    text-align: center;
    background:whitesmoke;
}


.message{/* contains message of the email */
    display:none;
    border:1px solid black;
    width:500px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    bottom:5px;
    padding: 5px 5px 5px 5px;
    border-radius:5px 5px 5px 5px;
    box-shadow:1px 1px 4px,-1px -1px 4px;
    transition:1.2s;

}
.message:hover{/* hover for message box increases size for the blind*/
    transform:scale(1.3);
    transition:1.2s;
}

.date{/* date of email sent */
    border:.5px solid black;
    width:80px;
    top:26px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left:91%;
    border-radius:33px 33px 33px 33px;
    box-shadow: 2px 2px 5px,-1px -1px 2px;
}
.date:hover{/* date hover  */
    background:rgb(146, 146, 233);
    color:white;
}
.subject{/* subjecct of email */
    border:.5px solid black;
    width:350px;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    bottom:12px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 5px,-1px -1px 2px;
}
.subject:hover{/*subject hover */
    background:rgb(146, 146, 233);
    color:white;
}
.sender{/* who sent the mail */
    border:.5px solid black;
    position: relative;
    width:100px;
    margin-left:80px;
    bottom:28px;
    border-radius:3px 3px 3px 3px;
    box-shadow: 2px 2px 5px,-1px -1px 2px;
}
.sender:hover{/*sender hover */
    background:rgb(146, 146, 233);
    color:white;
}
/* main mail box holds all information */