body{
    border:1px solid black;
    background-color:gray;
    margin:0px;
    height:99.7%;
}
#topBar{
    border:1px solid black;
    height: 50px;
    position:static;
}
#title{
    border:1px solid transparent;
    position:relative;
    width:100px;
    left:40px;
    bottom:20.75px;
    text-align: center;

}
#pic{
    border:1px solid transparent;
    width: 50px;
    position:relative;
    bottom:77px;
}

#g-Mail{
    border:1px solid transparent;
    position:relative;
    height:40px;
    width:143px;
    left:75px;
    top:5px;
}
#sBar{
    border:1px solid transparent;
    width:340px;
    height:30px;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    bottom:30px;
}
#sBar input{
    width:300px;
    height:25px;
}
#sBtn{
    border:1px solid transparent;
    position: relative;
    left:280px;
    bottom:35px;
}

#mainMail{
    border:1px solid black;
    position: relative;
    width: 1025px;
    margin-left:189px;
    height: 84%;
    left:0px;
    top:-1.5px;
}
.Mail{
    border:1px solid white;
    position: relative;
    width: 800px;
    height: 84%;
    z-index: 2;
    left:10px;
    top: 10px;
}
#rightBar{
    border:1px solid black;
    position:relative;
    bottom:184.7%;
    width: 50px;
    height:91.8%;
    margin-left:auto;
}
.rBar{
    border:1px solid red;
    position:relative;
    width: 40px;
    height:90.8%;
    margin-left:auto;
}


#leftBar{
    border:1px solid pink;
    position:relative;
    width:188px;
    bottom:92.5%;
    margin-right:auto;
    height:91.9%;
}
.lBar{
    border:1px solid red;
    position:relative;
    width:178px;
    margin-right:auto;
    height:97%;
    bottom:-5px;
}

#catMenu{
    border:1px solid red;
    margin-left:189px;
    position:relative;
    bottom:1px;
    height:50px;
    width:1025px;
    z-index: 3;
    border-radius: 0px 0px 0px 0px;
    top:-1px;
}
.category{
    top:2px;
    border:1px solid orange;
    right:.2px;
    position:relative;
    top:4px;
    border-radius: 5px 5px 5px 5px;
    height:40px;
    width:800px;
    margin-left:auto;
    margin-right:auto;
}
#main{
    height:150%;
    background: white;
    
}
.message{
    display:none;
}
.content{
    border:1px solid black;
    text-align: center;
}
.date{
    border:1px solid red;
}
.subject{
    border:1px solid red;
}
.sender{
    border:1px solid red;
}
.message{
    border:1px solid red;
}
